<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Evaluations
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Ajouter eval</a></li>
            <li><a class="dropdown-item" href="#">Saisie note</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [routerLink]="'/list-skills'" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Competence
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-danger me-2" (click)="logout()" type="button">Déconnecter</button>
      </form>
    </div>
  </div>
</nav>