<app-header></app-header>
<section class="vh-100">
  <div class="container my-5">
    <h2>Modifier la compétence</h2>
    <form (ngSubmit)="updateSkill()">
      <div class="mb-3">
        <label for="name" class="form-label">Nom de la compétence</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="skill.name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" [(ngModel)]="skill.description" name="description" rows="3" required></textarea>
      </div>
      <div class="mb-3">
        <label for="coefficient" class="form-label">Coefficient</label>
        <input type="number" class="form-control" id="coefficient" [(ngModel)]="skill.coefficient" name="coefficient" required>
      </div>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
  </div>
</section>
<app-footer></app-footer>
